# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/
env/

# Ignore logs and debug files
*.log

# Ignore dependendencies 
requirements/
runtime/

frontend/node_modules/
local_db.sqlite
.idea/
